@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding-left: 15rem;
	color: white;
	text-decoration: none;
	font-weight: 600;
}

:root {
	--color-background: black;
	--color-h1: rgb(225, 225, 225);
	--color-h2: #614898;
	--color-p: #ab7bae;
	background-color: var(--color-background);
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	width: 50vw;
	margin: 0;
	padding: 2.5rem;
}

* {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

button {
	line-height: 0px;
	background-color: white;
	align-items: center;
	text-align: center;
	width: 150px;
	height: 50px;
	padding: 1.5rem;
	border-width: 0;
	border-radius: 12px;
	cursor: pointer;
}

button:hover {
	color: white;
	background-color: var(--color-h2);
}

a {
	color: unset;
	text-decoration: none;
	cursor: pointer;
}

.b {
	color: #8568c0;
	cursor: pointer;
}

.b:hover {
	color: var(--color-h1);
}

.spacing {
	width:80vw;
	margin-top: 2.5rem;
	background-color: var(--color-h1);
	height: 5px;
	margin-bottom: 2.5rem;
}

h1 {
	min-width: max-content;
	max-width: fit-content;
	padding: 0.5rem;
	color: var(--color-h1);
	font-size: 3.5rem;
	font-weight: 900;
}

h2 {
	min-width: max-content;
	margin-left: 4rem;
	padding: 0.25rem;
	color: var(--color-h2);
	font-size: 2rem;
	font-weight: 900;
	margin-top: 2rem;
}

h3 {
	min-width: max-content;
	max-width: fit-content;
	padding: 2rem;
	font-size: 2rem;
	margin-left: 25%;
	color: var(--color-h1);
}

p {
	margin-left: 25%;
	min-width: 50vw;
	max-width: 50vh;
	padding: 0.25rem;
	padding: 1rem;
	color: var(--color-p);
	font-size: 1rem;
	font-weight: 500;
}

.cards_container {
	padding-top: 15rem;
	/* margin-top: 50px; */
	max-width: 500px;
	min-height: 800px;
	overflow-y: auto;
	overflow-x: hidden;
	transform: rotate(-90deg);
	/* transform-origin: right top; */
	/* transform: rotate(-90deg) translateY(-100px); */
}

.cards_container::-webkit-scrollbar {
	display: none;
}

.container>img {
	border-radius: 25px;
	width: 100px;
	height: 100px;
	transform-origin: right top;
}

.card {
	width: 500px;
	padding-top: 60px;
	border-radius: 25px;
}

.card:hover {
	opacity: 0.5;
}