@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding-left: 15rem;
	color: white;
	text-decoration: none;
	font-weight: 600;
}

:root {
	--color-background: black;
	--color-h1: rgb(225, 225, 225);
	--color-h2: #614898;
	--color-p: #ab7bae;
	background-color: var(--color-background);
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	width: 50vw;
	margin: 0;
	padding: 2.5rem;
}

* {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

button {
	line-height: 0px;
	background-color: white;
	align-items: center;
	text-align: center;
	width: max-content;
	height: 50px;
	padding: 1.5rem;
	border-width: 0;
	border-radius: 12px;
	cursor: pointer;
}

button:hover {
	color: white;
	background-color: var(--color-h2);
}

a {
	color: unset;
	text-decoration: none;
	cursor: pointer;
}

.b {
	color: #8568c0;
	cursor: pointer;
}

.b:hover {
	color: var(--color-h1);
}

.spacing {
	width:80vw;
	margin-top: 2.5rem;
	background-color: var(--color-h1);
	height: 5px;
	margin-bottom: 2.5rem;
}

h1 {
	min-width: max-content;
	max-width: fit-content;
	padding: 0.5rem;
	color: var(--color-h1);
	font-size: 3.5rem;
	font-weight: 900;
}

h2 {
	min-width: max-content;
	margin-left: 4rem;
	padding: 0.25rem;
	color: var(--color-h2);
	font-size: 2rem;
	font-weight: 900;
	margin-top: 2rem;
}

h3 {
	min-width: max-content;
	max-width: fit-content;
	padding: 2rem;
	font-size: 2rem;
	margin-left: 4rem;
	color: var(--color-h1);
}

p {
	margin-left: 25%;
	min-width: 50vw;
	max-width: 50vh;
	padding: 0.25rem;
	padding: 1rem;
	color: var(--color-p);
	font-size: 1rem;
	font-weight: 500;
}

.parent {
	margin-bottom: 50rem;
	padding: 1rem;
	height: 450px;
	width: 85vw;
	align-self: center;
	margin-top: 5rem;
	/* text-align: center; */
	/* align-items: center; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 400px;
	grid-column-gap: 50px;
	grid-row-gap: 0px;
}
	
.div1 { 
	grid-area: 1 / 1 / 2 / 2;
}

#card_img {
	opacity: 0.8;
	margin-left: 15px;
	margin-top: 15px;
	min-width: 250px;
	max-width: fit-content;
	max-height: 600px;
}

.div2 { 
	grid-area: 1 / 2 / 2 / 3;
}

.div3 { 
	grid-area: 1 / 3 / 2 / 4;
}

.cards_container {
	padding-top: 15rem;
	/* margin-top: 50px; */
	max-width: 500px;
	min-height: 800px;
	overflow-y: auto;
	overflow-x: hidden;
	transform: rotate(-90deg);
	/* transform-origin: right top; */
	/* transform: rotate(-90deg) translateY(-100px); */
}

.cards_container::-webkit-scrollbar {
	display: none;
}

.card {
	width: 500px;
	padding-top: 60px;
	border-radius: 25px;
}

.card:hover {
	opacity: 0.5;
}

.title_card {
	flex-wrap: nowrap;
	color: var(--color-h2);
	font-weight: 900;
	position: relative;
	text-align: center;
	align-items: center;
	left: 40px;
	bottom:200px;
	opacity: 0.3;
}

.title_card:hover{
	color: white;
	font-size: 100;
	opacity: 1;
}

.menu_overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(41, 41, 41);
	z-index: 100;
	display: none;
}

.menu_actions {

	position: absolute;
	max-width: 1000px;
	height: 500px;
	left: 100px;
	top: 100px;
}

.cookies {

	position: center;
	color: #fff;
	font-size: 20px;
	max-width: 1000px;
	height: 500px;
	left: 250px;
	top: 250px;
}

#this {
	background: white;
	opacity: 1;
	margin: 2.5rem;
	position: absolute;
	right: 0;
	top: 0;
	color: black;
}

#that {
	background: white;
	opacity: 1;
	margin: 2.5rem;
	position: absolute;
	right: 0;
	top: 0;
	color: black;
}

/* Hide the default file input */
.hidden-input {
	display: none;
}
  
  /* Style the custom label to make it look like a button */
.custom-label {
	background-color: hsl(270, 50%, 40%);
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	text-align: center;
  }
  
  /* Style label on hover to give visual feedback */
  .custom-label:hover {
	background-color: hsl(270, 52%, 30%);
  }

  .hidden-text_input {
	display: none;
  }

  #insert_movie_show {
	font-size: 20px;
	margin-left: 45vw;
	position: absolute;
	background-color: black;
  }

  input[type=file] {
	border-radius: 5px;
	background-color: rebeccaPurple;
	padding:1rem;
  }

  input[type=submit] {
	border-radius: 5px;
	background-color: white;
	padding:1rem;
	border: none;
  }

  input[type=submit]:hover {
	border-radius: 5px;
	background-color: rebeccapurple;
	padding:1rem;
	border: none;
  }


@media only screen and (max-width: 1300px) {
	#this {
		bottom: 4rem;
		top:auto;
	}
}

